:root {
    --primary-color: coral; 
    --secondary-color: chocolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
    list-style: none; 
}

#navbar ul li {
    color: #333;
    display: inline-block;
    padding: 1rem;
    position: relative; 
}

#navbar ul li a {
    color: #333;
    text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

#navbar ul li:hover a{
    color: #fff;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
}

#navbar ul li:hover ul li a{
    color: #333;
}

#navbar ul li:hover ul li:hover {
    background: #e0e0e0;
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: #fff;
    background: var(--primary-color);
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
}

#navbar ul li:hover ul li span {
    background: var(--secondary-color);
}

#showcase {
    display: flex;
    flex-direction: colmun;
    height: 300px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2 rem;
    background: var(--primary-color);
}

#showcase h1 {
    color: #fff;
    font-size: 4rem;
}

@media(max-width: 600px) {
    #navbar ul li {
        display: block;
    }

    #navbar ul li:hover ul {
        width: 100%;
        position: relative;
    }
}